{% extends "base.html" %}

{% block page_content %}
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">通讯录</h3>
  </div>
  <div class="panel-body ">
    <table id="table" class="table table-hover table-condensed" >
    <tr><td>#</td>
        <td>姓名</td>
        <td>工号</td>
        <td>邮箱</td>
        <td>手机号</td>
    </tr>
<tbody>
{% set counter = 1 %}
{% for row in data %}
<tr><td>{{ counter }}</td><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td></tr>
    {% set counter = counter + 1 %}
{% endfor %}
</tbody>
</table>
  </div>
</div>

{% endblock %}