{% extends "bootstrap/base.html" %}
{% block title %}Effect PM{% endblock %}
{% block head %}
    <title>Effect PM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <!-- <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        function showMessage(msg, level, position) {
            var msg_html = '<div class="alert alert-' + level + '">' +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' + msg + '</div>';
            if (position) {
                $('#' + position).append(msg_html);
            } else {
                $('#blackboard').append(msg_html);
            }
        }
    </script>
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Effect PM</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="base_need_li"><a href="/needs">需求</a></li>
                    <li id="base_plan_li"><a href="/plan">计划</a></li>
                    <li id="base_exp_li"><a href="/experience">知识</a></li>
                    <li id="base_worklog_li"><a href="/worklog">日志</a></li>
                    <li class="dropdown" id="base_more_li">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/address">用户管理</a></li>
                            <li><a href="/setting_project">项目管理</a></li>
                            <li><a href="/setting_application">系统管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">注销</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#aboutModal">关于</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="blackboard">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        {% block page_content_wide %}
        {% endblock %}
    </div>
    <div class="modal" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <mark>版本</mark>
                        <br>
                        <small><samp>1.0.6.0703</samp><br>
                            <samp>· 优化了需求相关功能</samp><br>
                            <samp>· 下一步计划重构设置页面,因为太丑了!</samp></small>
                    </p>
                    <p>
                        <mark>技术</mark>
                        <br>
                        <small>采用<code>python</code>-<code>flask</code>框架编写,样式基于<code>bootstrap</code>,核心组件包括<code>summercode</code>、<code>handsontable</code>等...
                        </small>
                    </p>
                    <p>
                        <mark>感谢</mark>
                        <br>
                        <small>业余时间里写了这个网站,占用了不少原本应该陪伴家人的时间,感谢老婆大人的谅解和支持^_^|||</small>
                    </p>
                    <p>
                        <mark>补充</mark>
                        <br>
                        <small>本项目源码通过github开源,请<a href="https://github.com/frontc/Effect_PM" target="_blank">点击</a>
                        </small>
                        <br>
                        <small class="pull-right"><em>-方超 2016-06-30</em></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}